html {
    background-color: gray;
}

h1 {
    text-align: center;
}
.Page {
    width: 800px;
    height: 600px;
    border-radius: 20px;
    border: black solid 1px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}

.balle {
    display: flex;
    width: 80px;
    height: 80px;
    border: black solid 1px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    font-weight: bold;
}
.balle1 {
    background-color: black;
    animation-name: chargement;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-direction: alternate;
}
.balle2 {
    background-color:black;
    animation-name: chargement;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-direction: alternate;
}
.balle3 {
    background-color: black;
    animation-name: chargement;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 3s;
    animation-duration: 5s;
    animation-direction: alternate;
}

@keyframes chargement {
    from {
        background-color: black;
    }
    to {
        background-color: whitesmoke;
    }
}