html {
    background-color: gray;
}

h1 {
    text-align: center;
}
.page {
    width: 800px;
    height: 300px;
    border-radius: 20px;
    border: black solid 1px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}