html {
  background-color: gray;
}
.page {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}
/* J'ai cumulé l'index à l'exo 6, autant joindre l'utile à l'agréable, une simple combinaison de : transition en hauteur de 3 secondes + hover sans oublier le overflow:hidden sur le menu suffit */
.menu {
  list-style:none;
  padding:10px;
  font-size:20px;
  text-decoration:none;
  position: relative;
  z-index: 2;
  overflow: hidden;
  height: 50px;
  transition: height 3s;
  background-color: lightblue;
}

a {
  list-style: none;
  line-height:44px;
  float:left;
}

.menu:hover {
  height: 800px; 
}