html {
    background-color: gray
}
body {
    width: 900px;
    height: 1400px;
    border: black solid 1px;
    margin:auto;
}
/* J'ai fait l'exo à l'envers comme un c**, du coup j'avais la vue mobile de base et j'ai joué sur les break points pour avoir le même rendu */
header {
    color:#0a6daa;
    justify-content: space-around;
    font-size: 30px;
    border-bottom: black solid 1px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    align-content: center;
    text-align: center;
}
.grid>* {
    border-bottom: black solid 1px;
    margin: 0px;
}
h1 {
    padding-left: 20px;
    color: #0a6daa;
}
p {
    justify-content: space-between;
}

.imgjul {
    width: 200px;
    height: 200px;
    padding: 10px;
}
.lesang {
    display: flex;
}
.imgfianso {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.imgb2o {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.imghornet {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.imgk2a {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.imgvald {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.imgdamso {
    width: 100px;
    height: 100px;
    padding: 5px;
}
.imgrohff {
    width: 100px;
    height: 100px;
    padding: 5px;
}
footer {
    text-align: center;
    align-items:center;
    font-size: 30px;
    font-weight: bold;
}
/* la classe gruik correspond au texte apparaissant tout à gauche, à savoir les jours de la semaine */
#gruik {
    padding-top: 50px;
}
@media screen and (max-width: 600px) {
    .imgjul2 {
        display: none;
    }
    h1 {
        text-align: center;
    }
    .lesang {
        padding-right: 150px;
    }
    #gruik {
        padding-top: 30px;
    }
    body {
        width: 500px;
        height: 2150px;
    }
    
}
@media screen and (min-width: 801px) {
    .grid {
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(7, 1fr) ;
        grid-template-rows: repeat(4,1fr);
    }
    .grid>* {
        border: none;
    }
    header {
        border: none;
    }
}