html {
    background-color: gray;
}

h1 {
    text-align: center;
}
.page {
    width: 800px;
    height: 600px;
    border-radius: 20px;
    border: black solid 1px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
}
#Carre {
    display: flex;
    width: 200px;
    height: 200px;
    border: black solid 1px;
    background-color: gold;
    animation-name: tourne;
    animation-delay: 1s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

@keyframes tourne {
    from {
        background-color: gold;
        transform: rotate(0deg);
    }
    to {
        background-color: red;
        transform: rotate(360deg);
    }
}
